.my-logo{
    width: 70px;
    height: 55px;
    margin: 0px;
}
/* .carousel-inner{
    height: 500px !important;
} */
 img{
    height: 500px;
}
/* @media only screen and (max-width:600){
    img{
        height: 350px !important;
    }
} */ 
.hei{
    height: 100px !important;
}