body{
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-55%,-55%);
    vertical-align: center;
    text-align: center;
}
.ty{
    font-size: 28pt;
    color:green;
    font-weight: bold;
}
div{
    width: auto;
    height:235px;
}
.sb{
    font-size: 20pt;
    color: blueviolet;
    font-weight: bold;
}
.gb{
 font-size: 24pt;
 font-weight: bold;
 color: blueviolet;
}
p{
    height: 0.65em;
}