#canvas{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  */
    width: 400;
    height: 400;
}
#Panel{
    position: absolute;
     top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* text-align: center; */

}
h4,.line{
    display: inline-block;
}
h4,p{
  margin: 0;
  text-align: center;
}
.back_white{
    background-color: white;
    font-size: 2em;
    font-weight: bold;
}
h2{
    text-align: center;
}
#canvas,.stopwatch{
    margin-left: 25%;
}
body{
    background-color: rgb(106, 190, 201);
}
.button{
    margin-left: 22%;
}